<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/geflores5">Giovanni Flores</a>, a student at <a target="_blank" href="http://www.thefirehoseproject.com">TheFirehoseProject</a> and an aspiring web developer.
  </p>
  <br />
  <p>
    Currently an account, he spends most of his nights and weekends learning to code cool websites like the one you're currently on.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Giovanni Flores</h2>
      <br />
      <p>
        Giovanni Flores is an accountant hoping to make a career switch to the field of web development/software design.
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
