@font-face {
    font-family: 'distant_galaxyregular';
    src: font_url('distgrg_-webfont.woff2') format('woff2'),
         font_url('distgrg_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
